.weather-body__description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size:2rem;
	border-top:1px dashed #ccc;
	margin-top:15px;
	padding-top:15px;
	width:100%;

	small {
		display: flex;
		align-items: center;
		justify-content: center;
		width:100%;
		font-size: 1.2rem;
		padding-bottom:15px;
	}
}